/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .galery-foto {
      width: 50%;
      margin-bottom: 50px;
    }
  }

/* Untuk Smartphone */
@media all and (max-width: 670px){
    .galery-foto {
        width: 100%;
    }
}